Repository piro0919/kk-web5: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, secretlint, stylelint, typescript, eslint

prettier:
  run: npx prettier --ignore-unknown --write {staged_files}

secretlint:
  run: npx secretlint {staged_files}

stylelint:
  run: npx stylelint --fix {staged_files}

typescript:
  run: npx tsc --noemit

eslint:
  run: npx next lint --fix --file {staged_files}

feat: add blog
  src/markdown-pages/20241018.md
Due: prettier, secretlint

feat: add blog
  lefthook.yml
  next.config.js
  src/app/portfolio/application/page.tsx
  src/components/NpmPackage/index.tsx
  src/libs/navigations/index.ts
  src/markdown-pages/20241012.md
  src/markdown-pages/20241028.md
Due: prettier, secretlint, typescript, eslint

feat: add blog
  lefthook.yml
  next.config.js
  src/markdown-pages/20241012.md
  src/markdown-pages/20241029.md
Due: prettier, secretlint, eslint

fix: fix markdown file name
  src/markdown-pages/20241030.md
Due: prettier, secretlint

feat: add blog
  src/components/WebSite/index.tsx
  src/markdown-pages/20241101.md
Due: prettier, secretlint, typescript, eslint

fix: fix blog
  src/markdown-pages/20241101.md
Due: prettier, secretlint

fix: fix title
  src/markdown-pages/20241101.md
Due: prettier, secretlint

feat: add blog
  src/markdown-pages/20241113.md
Due: prettier, secretlint

feat: add blog
  src/markdown-pages/20241202.md
Due: prettier, secretlint

feat: remove blog
  src/markdown-pages/20241018.md
Due: prettier, secretlint

feat: set max width to image on blog
  src/app/globals.scss
Due: prettier, secretlint, stylelint

feat: add PWA and Web Push implementation guide for Next.js
  src/markdown-pages/20241213.md
Due: prettier, secretlint

feat: add new blog post "2024年買って良かったものベスト5" detailing top purchases of the year
  src/markdown-pages/20241226.md
Due: prettier, secretlint

feat: add new blog post "オモコロのアーカイブサイトをリニューアルしました" detailing the site's redesign and technical implementation
  src/markdown-pages/20241227.md
Due: prettier, secretlint

feat: update blog post for 2024-12-27, adding insights on ESLint v9 migration and its impact on configuration
  src/markdown-pages/20241227.md
Due: prettier, secretlint

feat: add new blog post "2024年振り返り" reflecting on personal experiences and challenges faced throughout the year
  src/markdown-pages/20241231.md
Due: prettier, secretlint

feat: add blog post about meeting Squeal after many years
  src/markdown-pages/20250201.md
Due: prettier, secretlint

feat: add blog post about ADHD, ASD, and personal reflections on relationships and respect
  src/markdown-pages/20250211.md
Due: prettier, secretlint

feat: add new blog post
  src/markdown-pages/20250320.md
Due: prettier, secretlint

feat: add YouTube Growth service and published related information on the blog
  src/components/WebService/index.tsx
  src/markdown-pages/20250321.md
Due: prettier, secretlint, typescript, eslint

feat: add new blog post on best practices for forms with Next.js 15 and React 19
  src/markdown-pages/20250324.md
Due: prettier, secretlint

fix: rename pre-commit command from 'pprettier' to 'prettier' in lefthook configuration
  lefthook.yml
Due: prettier, secretlint

feat: add commit-msg hook with commitlint for message validation
  .husky/commit-msg
  .lefthook/commit-msg/commitlint.sh
  lefthook.yml
Due: prettier, secretlint

feat: add new blog post on how to resolve issues with commitlint in lefthook
  src/markdown-pages/20250324-2.md
Due: prettier, secretlint

feat: add new blog post "Vector of Ambition"
  src/markdown-pages/20250327.md
Due: prettier, secretlint

feat: add new blog post
  src/markdown-pages/20250328.md
Due: prettier, secretlint

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: prettier, secretlint

feat: add new blog post "4 Recommended Sake Picks"
  src/markdown-pages/20250406.md
Due: prettier, secretlint

docs: update markdown page to format product title as a header
  src/markdown-pages/20250406.md
Due: prettier, secretlint

feat: add new blog post
  public/assets/20250409-ng.png
  public/assets/20250409-ok.png
  src/markdown-pages/20250409.md
Due: prettier, secretlint

feat: add new application page and blog post
  src/app/portfolio/application/page.tsx
  src/components/Application/index.tsx
  src/libs/navigations/index.ts
  src/markdown-pages/20250411.md
Due: prettier, secretlint, typescript, eslint

fix: update mac classic player link in application and markdown page
  src/components/Application/index.tsx
  src/markdown-pages/20250411.md
Due: prettier, secretlint, typescript, eslint

feat: add macopy app and create related blog post
  src/components/Application/index.tsx
  src/markdown-pages/20250415.md
Due: prettier, secretlint, typescript, eslint

feat: add new blog post "switched from pixel 6a to pixel 9a"
  src/markdown-pages/20250416.md
Due: prettier, secretlint

feat: add new blog post "does a company exist to protect its employees?"
  src/markdown-pages/20250418.md
Due: prettier, secretlint

feat: update blog post title and revise content to focus on dialogue with ai
  src/markdown-pages/20250418.md
Due: prettier, secretlint

feat: add new blog post “future-oriented programmer”
  src/markdown-pages/20250421.md
Due: prettier, secretlint

fix: change phrasing to “enjoy it”
  src/markdown-pages/20250421.md
Due: prettier, secretlint

feat: add blog on next.js routes
  src/markdown-pages/20250425.md
Due: prettier, secretlint

feat: add new blog post “thoughts on technology selection”
  src/markdown-pages/20250427.md
Due: prettier, secretlint

Path conditions:
  prettier: any of: *
  secretlint: any of: *
  stylelint: any of: **/*.scss
  typescript: any of: *.{ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
