Repository piro0919/kk-web5: changes, and which lefthook commands are due for each by the changed paths.
All: prettier, secretlint, stylelint, typescript, eslint

prettier:
  run: npx prettier --ignore-unknown --write {staged_files}

secretlint:
  run: npx secretlint {staged_files}

stylelint:
  run: npx stylelint --fix {staged_files}

typescript:
  run: npx tsc --noemit

eslint:
  run: npx eslint --fix {staged_files}

feat: refactor component structure and update import paths across pages
  src/app/_components/Analytics/index.tsx
  src/app/_components/App/index.tsx
  src/app/_components/Footer/index.tsx
  src/app/_components/GoogleAnalytics/index.tsx
  src/app/_components/Header/index.tsx
  src/app/_components/Hotjar/index.tsx
  src/app/_components/Layout/index.tsx
  src/app/_components/LogRocket/index.tsx
  src/app/_components/MobileMenu/index.tsx
  src/app/_components/Navigation/index.tsx
  src/app/about/_components/About/index.tsx
  src/app/about/page.tsx
  src/app/blog/[slug]/_components/Article/index.tsx
  src/app/blog/[slug]/page.tsx
  src/app/blog/_components/Blog/index.tsx
  src/app/blog/page.tsx
  src/app/contact/_components/Contact/index.tsx
  src/app/contact/_components/Contact/style.module.scss
  src/app/contact/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/portfolio/application/_components/Application/index.tsx
  src/app/portfolio/application/page.tsx
  src/app/portfolio/movie/_components/Movie/index.tsx
  src/app/portfolio/movie/page.tsx
  src/app/portfolio/npm-package/_components/NpmPackage/index.tsx
  src/app/portfolio/npm-package/page.tsx
  src/app/portfolio/web-service/_components/WebService/index.tsx
  src/app/portfolio/web-service/page.tsx
  src/app/portfolio/web-site/_components/WebSite/index.tsx
  src/app/portfolio/web-site/page.tsx
Due: prettier, secretlint, stylelint, typescript, eslint

feat: replace scss with global css and remove stylelint config
  .husky/commit-msg
  .stylelintrc.json
  lefthook.yml
  next.config.js
  package-lock.json
  package.json
  src/app/breakpoints.scss
  src/app/globals.css
  src/app/globals.scss
  src/app/layout.tsx
  src/app/mq-settings.scss
  src/styles/mq.scss
  tsconfig.json
Due: prettier, secretlint, stylelint, typescript, eslint

feat: fix build script and clean up footer links and modules
  package.json
  src/app/_components/Footer/index.tsx
  src/libs/getBreakpoints/index.ts
  src/libs/links/index.ts
Due: prettier, secretlint, typescript, eslint

feat: remove depcheck and related scripts from package.json
  .depcheckrc.json
  .vscode/settings.json
  package-lock.json
  package.json
Due: prettier, secretlint

feat: add stylelint configuration and apply css modules rules
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .stylelintrc.json
  lefthook.yml
  package-lock.json
  package.json
  src/app/_components/App/style.module.css
  src/app/_components/Footer/style.module.css
  src/app/_components/Header/style.module.css
  src/app/_components/Layout/style.module.css
  src/app/_components/MobileMenu/style.module.css
  src/app/_components/Navigation/style.module.css
  src/app/about/_components/About/style.module.css
  src/app/blog/[slug]/_components/Article/style.module.css
  src/app/blog/_components/Blog/style.module.css
  src/app/contact/_components/Contact/style.module.css
  src/app/globals.css
  src/app/portfolio/application/_components/Application/style.module.css
  src/app/portfolio/movie/_components/Movie/style.module.css
  src/app/portfolio/npm-package/_components/NpmPackage/style.module.css
  src/app/portfolio/web-service/_components/WebService/style.module.css
  src/app/portfolio/web-site/_components/WebSite/style.module.css
Due: prettier, secretlint

feat: enable renovate automerge for deps and dev-deps
  renovate.json
Due: prettier, secretlint

feat: remove @next/bundle-analyzer
  package-lock.json
  package.json
Due: prettier, secretlint

feat: update dependencies and improve hotjar initialization
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  .prettierignore
  commitlint.config.js
  package-lock.json
  package.json
  src/app/_components/Hotjar/index.tsx
  src/app/blog/[slug]/_components/Article/index.tsx
  src/app/blog/[slug]/page.tsx
Due: prettier, secretlint, typescript, eslint

feat: downgrade github-markdown-css to v5.2.0, remove unused fonts
  package-lock.json
  package.json
  src/app/jkg.ttf
  src/app/jkg.woff
  src/app/layout.tsx
Due: prettier, secretlint, typescript, eslint

feat: add @next/third-parties with ga integration
  package-lock.json
  package.json
  src/app/_components/GoogleAnalytics/index.tsx
  src/app/layout.tsx
  src/env.ts
Due: prettier, secretlint, typescript, eslint

feat: replace dayjs with date-fns and update deps
  package-lock.json
  package.json
  src/app/_components/App/index.tsx
Due: prettier, secretlint, typescript, eslint

feat: add @bprogress/next and update layout to use progress-provider
  package-lock.json
  package.json
  src/app/_components/Layout/index.tsx
  src/app/layout.tsx
Due: prettier, secretlint, typescript, eslint

feat: move zod init to zod-setup and update layout
  src/app/_components/Layout/index.tsx
  src/app/layout.tsx
  src/libs/zodSetup/index.ts
Due: prettier, secretlint, typescript, eslint

feat: use use-set-cookie from cookies-next/client for cookie management
  src/app/contact/_components/Contact/index.tsx
Due: prettier, secretlint, typescript, eslint

feat: improve a11y with sr-only class and h1 tag
  src/app/[locale]/_components/App/index.tsx
  src/app/[locale]/_components/App/style.module.css
  src/app/[locale]/_components/Layout/index.tsx
  src/app/[locale]/_components/Layout/style.module.css
  src/app/[locale]/about/_components/About/index.tsx
  src/app/[locale]/blog/_components/Blog/index.tsx
  src/app/[locale]/contact/_components/Contact/index.tsx
  src/app/[locale]/portfolio/application/_components/Application/index.tsx
  src/app/[locale]/portfolio/movie/_components/Movie/index.tsx
  src/app/[locale]/portfolio/npm-package/_components/NpmPackage/index.tsx
  src/app/[locale]/portfolio/web-service/_components/WebService/index.tsx
  src/app/[locale]/portfolio/web-site/_components/WebSite/index.tsx
Due: prettier, secretlint, typescript, eslint

fix: add locale to corrected image urls
  src/app/[locale]/blog/[slug]/page.tsx
Due: prettier, secretlint, typescript, eslint

feat: add blog post on engineer hiring issues
  src/markdown-pages/ja/20250517.md
Due: prettier, secretlint

feat: add blog post on engineer hiring issues for english
  src/markdown-pages/en/20250517.md
Due: prettier, secretlint

fix: update numbered list formatting
  src/markdown-pages/en/20250517.md
Due: prettier, secretlint

feat: add custom base sizes for markdown styling
  src/app/[locale]/globals.css
Due: prettier, secretlint

feat: add env vars and fix hotjar/log-rocket init
  src/app/[locale]/_components/Hotjar/index.tsx
  src/app/[locale]/_components/Layout/index.tsx
  src/app/[locale]/_components/LogRocket/index.tsx
  src/app/[locale]/blog/[slug]/page.tsx
  src/app/[locale]/email/route.ts
  src/env.ts
Due: prettier, secretlint, typescript, eslint

fix: change locale from en/ja to en_us/ja_ip
  src/libs/getMetadata/index.ts
Due: prettier, secretlint, typescript, eslint

feat: add blog post on languages that will survive the next decade
  src/markdown-pages/ja/20250519.md
Due: prettier, secretlint

feat: add blog post on languages that will survive the next decade for english
  src/markdown-pages/en/20250519.md
  src/markdown-pages/ja/20250519.md
Due: prettier, secretlint

feat: add error handling component and implement error logging functionality
  src/app/[locale]/_components/Error/index.tsx
  src/app/[locale]/_components/Error/style.module.css
  src/app/[locale]/_components/Footer/index.tsx
  src/app/[locale]/blog/[slug]/page.tsx
  src/app/[locale]/error.tsx
Due: prettier, secretlint, typescript, eslint

fix: improve phrasing and clarify hiring criteria
  src/markdown-pages/ja/20250517.md
Due: prettier, secretlint

fix(Footer): remove page reload on locale change and add debug log
  src/app/[locale]/_components/Footer/index.tsx
Due: prettier, secretlint, typescript, eslint

feat: add more and portfolio pages; add clsx and feather-icons-react
  package-lock.json
  package.json
  src/app/[locale]/_components/App/index.tsx
  src/app/[locale]/_components/Error/index.tsx
  src/app/[locale]/_components/Footer/index.tsx
  src/app/[locale]/_components/Header/index.tsx
  src/app/[locale]/_components/Layout/style.module.css
  src/app/[locale]/_components/MobileMenu/index.tsx
  src/app/[locale]/_components/MobileMenu/style.module.css
  src/app/[locale]/_components/Navigation/index.tsx
  src/app/[locale]/blog/[slug]/_components/Article/index.tsx
  src/app/[locale]/more/_components/More/index.tsx
  src/app/[locale]/more/_components/More/style.module.css
  src/app/[locale]/more/page.tsx
  src/app/[locale]/portfolio/_components/Portfolio/index.tsx
  src/app/[locale]/portfolio/_components/Portfolio/style.module.css
  src/app/[locale]/portfolio/page.tsx
  src/libs/links/index.ts
  src/libs/mobileNavigations/index.ts
Due: prettier, secretlint, typescript, eslint

feat: add blog post on successful teams
  src/markdown-pages/ja/20250616.md
Due: prettier, secretlint

feat: add english blog post
  src/markdown-pages/en/20250616.md
Due: prettier, secretlint

feat: add blog post on cheap android tablet
  src/markdown-pages/en/20250623.md
  src/markdown-pages/ja/20250623.md
Due: prettier, secretlint

feat: add initial blog post in english and japanese
  src/markdown-pages/en/20250630.md
  src/markdown-pages/ja/20250630.md
Due: prettier, secretlint

feat: add social links to footer/more and svgs
  public/note.svg
  src/app/[locale]/_components/Footer/index.tsx
  src/app/[locale]/_components/Footer/style.module.css
  src/app/[locale]/blog/page.tsx
  src/app/[locale]/more/_components/More/index.tsx
  src/app/[locale]/more/_components/More/style.module.css
  src/libs/links/index.ts
Due: prettier, secretlint, typescript, eslint

feat: add blog post about firefox add-ons in english and japanese
  src/markdown-pages/en/20250702.md
  src/markdown-pages/ja/20250702.md
Due: prettier, secretlint

feat: add peraichi info and bilingual blog post
  messages/en.json
  messages/ja.json
  src/app/[locale]/portfolio/web-service/_components/WebService/index.tsx
  src/markdown-pages/en/20250703.md
  src/markdown-pages/ja/20250703.md
Due: prettier, secretlint, typescript, eslint

Path conditions:
  prettier: any of: *
  secretlint: any of: *
  stylelint: any of: **/*.scss
  typescript: any of: *.{ts,tsx}
  eslint: any of: *.{js,jsx,ts,tsx}
